@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

.menu {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #42a5f5;
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-duration: .5s;
  transition-property: transform;
  transform: scale(0);
}

.menu.active {
  transform: scale(1);
}

.menu .close {
  border-radius: 10px;
  margin: 10px;
  position: absolute;
  color: white;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .5s;
}

.left .open {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  transition-property: background-color;
  transition-duration: .5s;
}
.navbar {
  background-color: #42a5f5;
  height: 90px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar .left {
  color: white;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.navbar .center {
  position: center;
  display: flex;
  flex-direction: row;
}
.navbar .center .title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: system-ui;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition-property: background-color;
  transition-duration: .5s;
}
.navbar .menu .nav-button {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .5s;
}
.navbar .right {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
}
.navbar .right .nav-button {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .5s;
}
.navbar .icon, .icon {
  transform: scale(1.5);
}

.title:hover, .nav-button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.home-main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 90px);
}

.home-main-container .column {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.home-main-container .column .row {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.home-main-container .column .row .column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.home-main-title {
  font-size: 3vw;
  font-weight: bold;
  animation: 2s anim-lineUp ease-out;
}

.home-main-p {
  font-size: 1.5vw;
  animation: 4s anim-lineUp ease-out;
}

.btn-home-blue {
  margin: 5% 0 0 0;
  background-color: #42a5f5;
  color: white;
  border-radius: 10px;
  width: 82%;
  height: 56px;
  font-weight: bold;
  position: relative;
  transition-property: background-color;
  transition-duration: .5s;
  animation: 6s anim-lineUp ease-out;
}


.btn-home-blue:hover {
  cursor: pointer;
  background-color: rgba(66, 165, 245, 0.8);
}
.btn-home-orange {
  margin: 5% 0 0 0;
  background-color: #ff7043 ;
  color: white;
  border-radius: 10px;
  width: 82%;
  height: 56px;
  font-weight: bold;
  position: relative;
  transition-property: background-color;
  transition-duration: .5s;
  animation: 6s anim-lineUp ease-out;
}

.btn-home-black {
  margin: 5% 0 0 0;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  width: 82%;
  height: 56px;
  font-weight: bold;
  position: relative;
  transition-property: background-color;
  transition-duration: .5s;
  animation: 6s anim-lineUp ease-out;
}


.btn-home-orange:hover {
  cursor: pointer;
  background-color: rgba( 255, 112, 67 , 0.8);
}

body {
  margin: 0;
  font-family: 'Avenir Next', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
.auth-grid {
  @apply flex;
  margin: 8%;
  display: flex;
  border-radius: 10px;
  box-shadow: 10px 10px 39px -13px rgba(0, 0, 0, 0.75);
}

.auth-grid:after {
  content: "";
  display: table;
  clear: both;
}

/*.container-title-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}*/

/*.auth-grid .column {
  @apply flex w-1/2 p-10 justify-center flex-row flex-wrap;
  *float: left;
  width: 50%;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;*!
}*/
.form-auth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
}

/*.input-auth {
  width: 82%;
  height: 56px;
  margin: 100px;
  background-color: white;
}*/

.hero-banner-img {
  max-height:100%;
  max-width:100%;
  object-fit: contain;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}